---
name: Go vulnerability scanner

on:  # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      pubkeys:
        required: true
        type: "string"

jobs:
  govulncheck:
    runs-on: ubuntu-latest
    container:
      image: debian:13
    steps:
      - name: Prepare verification keys
        run: |
          rm -f "${HOME}/.signers"
          for pubkey in ${{ inputs.pubkeys }}; do
            echo "$pubkey" |tr : ' ' >> "${HOME}/.signers"
          done

      - name: Install packages
        run: |
          apt-get update
          apt-get -y dist-upgrade
          apt-get -y install ca-certificates git golang

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Verify
        run: |
          chown -R root:root .
          git -c gpg.ssh.allowedSignersFile="${HOME}/.signers" verify-commit HEAD

      - name: Prepare dependencies
        run: |
          go mod tidy
          go mod verify
          git diff go.mod go.sum
          sha256sum --strict --check go.pin

      - name: Install govulncheck
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest

      - name: Run govulncheck
        run: |
          status=0
          vulns="$(~/go/bin/govulncheck ./... 2>&1)" || status="$?"
          if [ "$status" != 0 ] && [ "$status" != 3 ]; then
            exit 1
          fi

          echo "$vulns"

          if [ -f ".govulncheck-ignore" ]; then
            echo "$vulns" |grep -oP '^Vulnerability [^:]+: \K(.*)$' |uniq >/tmp/ids
            ids="$(cat .govulncheck-ignore .govulncheck-ignore /tmp/ids |sort |uniq -u |wc -l)"
            if [ "$ids" = 0 ]; then
              exit 0
            fi
            echo "ERROR: $ids vulnerabilities found" >&2
          fi

          exit "$status"
