---
name: YAML lint

on:  # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      pubkeys:
        required: true
        type: "string"

jobs:
  yamllint:
    runs-on: ubuntu-latest
    container:
      image: debian:13
    steps:
      - name: Prepare verification keys
        run: |
          rm -f "${HOME}/.signers"
          for pubkey in ${{ inputs.pubkeys }}; do
            echo "$pubkey" |tr : ' ' >> "${HOME}/.signers"
          done

      - name: Install packages
        run: |
          apt-get update
          apt-get -y dist-upgrade
          apt-get -y install git yamllint

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Verify
        run: |
          chown -R root:root .
          git -c gpg.ssh.allowedSignersFile="${HOME}/.signers" verify-commit HEAD

      - name: Lint
        run: |
          yamllint --strict .
